{% extends 'partials/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static '/inputStyle.css' %}" />
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow my-3">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{form | crispy }}
            <input type="submit" value="Post" class="btn btn-dark btn-block">
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      {% for blog in blogs %}
      <div class="card shadow my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="{{blog.user.profile.image.url}}" alt="image" class="img-fluid" />
            </div>
            <div class="col-md-8">
              <small>{{blog.created_at}}</small>
              <hr />
              <a href="{% url 'blog-detail' blog.id %}" class="h3">{{blog.title}}</a>
              <p class="text-justify">{{blog.content}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock main %}