{% extends 'partials/main.html' %} {% load crispy_forms_tags %}
{% load static %} {% block main %}
<link rel="stylesheet" href="{% static '/inputStyle.css' %}" />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow my-3">
        <div class="card-body">
          <form method="post">
            {% csrf_token %} {{form | crispy }}
            <input type="submit" value="Post" class="btn btn-dark btn-block" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main %}